
<app-nav></app-nav>



<section>
    <h2>This museum is intended to represent information about electronic components used in the past.</h2>

    <div>
        <p> 
            An electronic component is any physical entity in an electronic system used to affect the electrons or their associated 
            fields in a manner consistent with the intended function of the electronic system. Components are generally intended to
             be connected together, usually by being soldered to a printed circuit board (PCB), to create an electronic circuit 
             with a particular function (for example an amplifier, radio receiver, or oscillator). Components may be packaged singly,
              or in more complex groups as integrated circuits. Some common electronic components are capacitors, inductors, resistors,
               diodes, transistors, etc. Components are often categorized as active (e.g. transistors and thyristors) 
               or passive (e.g. resistors, diodes, inductors and capacitors).
        </p>
    </div>
</section>

<div class="page-background">

</div>


<app-footer></app-footer>