

<app-nav></app-nav>

<section *ngIf='isLoggedIn'>

    <ul class="home-logged">

        <li>
            <a class="change-pointer" (click)="showTransistors()"><img src="/assets/img/transistors/1189221.jpg" alt="Transistors" height="230" width="320" /></a>
            <p>TRANSISTORS</p>
        </li>
        <li>
            <a class="change-pointer" (click)="showResistors()"><img src="/assets/img/resistors/9774116.jpg" alt="Resistors" height="230" width="320" /></a>
            <p>RESISTORS</p>
        </li>
        <li>
            <a class="change-pointer" (click)="showCapacitors()"><img src="/assets/img/capacitors/2068458.jpg" alt="Capacitors" height="230" width="320" /></a>
            <p>CAPACITORS</p>
        </li>
        <li>
            <a class="change-pointer" (click)="showDiodes()"><img src="/assets/img/diodes/20226.jpg" alt="Diodes" height="230" width="320" /></a>
            <p>DIODES</p>
        </li>    
        <li>
            <a class="change-pointer" (click)="showICircuits()"><img src="/assets/img/icircuits/1620708.jpg" alt="Integrated Circuits" height="230" width="320" /></a>
            <p>INTEGRATED CIRCUITS</p>
        </li>
        <li>
            <a class="change-pointer" (click)="showTubes()"><img src="/assets/img/lamps/6308094.jpg" alt="Electronic Tubes" height="230" width="320" /></a>
            <p>ELECTRONIC TUBES</p>
        </li>
        <li>
            <a class="change-pointer" (click)="showQuartzes()"><img src="/assets/img/quartz/5864001.jpg" alt="Quartz Resonators" height="230" width="320" /></a>
            <p>QUARTZ</p>
        </li>    
        <li>
            <a class="change-pointer" (click)="showEMechanicals()"><img src="/assets/img/electromechanical/3662489.jpg" alt="Electromechanical" height="230" width="320" /></a>
            <p>ELECTROMECHANICAL</p>
        </li>
            
    </ul>
</section>


<section *ngIf='!isLoggedIn'>
    <div class="oscilloscope">
        <p>Please, register and login to start the tour.</p>
    </div>
</section>

<app-footer></app-footer>