<app-nav></app-nav>


<section class="first-section">
    <h2> {{ elementCategory }} </h2>
    <section class="section-flex">
        <div class="holder" *ngFor="let elem of elements$ | async">
            <img src="https://drive.google.com/uc?export=view&id={{elem.pictureID}}" alt="Element picture" height="240" width="320"/>
            <p> Name: {{ elem.name }}</p>
            <p> Parameters: {{ elem.parameters }}</p>    
            <p> Contry of origin: {{elem.producer }}</p>
            <p> Description: {{elem.description}} </p>
            <span class="like">
            <span><i class="far fa-thumbs-up"></i> 200</span>
            <span><i class="far fa-thumbs-down"></i> 100</span>
            </span>
        </div>
    </section>
   
</section>


