.first-section {
    /* border: 2px solid red; */
   
    margin-top: 90px;
}

.section-flex {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

.holder {
    width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 6px solid black;
    padding: 5px;
    box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 3px;
}

img {
    text-align: center;
    cursor: zoom-in;
}

h2 {
    text-align: center;
    /* border: 2px solid red; */
    color: green;
}

.like {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10 20 10 20;
    background-color: aquamarine;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

i {
    padding-right: 30px;
}

.title {
    color: green;
    font-weight: 600;
}
