<app-adminconsole></app-adminconsole>


<section>
    <h2> Users List </h2>
    <hr>
        <div class="holder" *ngFor="let user of users$ | async">
            <p> username: {{ user.email }}</p>
            <div class="role-plus-button">
                <p> <span class="role">{{ user.role }}</span></p>
            <p *ngIf="user.role.localeCompare('user') == 0" >
                <button  (click)="promoteToAdmin(user.email)">Promote to Admin</button>
            </p>
            <p *ngIf="user.role.localeCompare('user') != 0" >
                <button class="invisible">Promote to Admin</button>
            </p>
            </div>
           
                
        </div>

   <hr>
</section>

<app-footer></app-footer>

