<!-- <app-about></app-about> -->
<!-- <app-error></app-error> -->
<!-- <app-underconstruction></app-underconstruction> -->
<!-- <app-home></app-home> -->
<!-- <app-nav></app-nav> -->
<!-- <app-login></app-login> -->
<!-- <app-logout></app-logout> -->
<!-- <app-register></app-register> -->
<!-- <app-autherror></app-autherror> -->
<!-- <app-addelem></app-addelem> -->
<!-- <app-addmessage></app-addmessage> -->
<!-- <app-adminconsole></app-adminconsole> -->
<!-- <app-edit></app-edit> -->
<!-- <app-deletemessage></app-deletemessage> -->
<!-- <app-editmessage></app-editmessage> -->
<!-- <app-find></app-find> -->
<!-- <app-notfound></app-notfound> -->
<!-- <app-users></app-users> -->


<router-outlet></router-outlet>

