
<app-nav></app-nav>

<section>
  <h1>Register User</h1>
  <hr>
  <form #f="ngForm" (ngSubmit)="registerHandler(f.value.email, f.value.password, f.value.repassword)">

      <p class="please">Please fill in this form to create an account.</p>
      <div class="input-div">
        <div>
          <span>
            <label class="email-label" for="email"><b>Email</b></label>
            <input size="30" class="input-email" type="text" placeholder="enter email here" name="email" id="email" ngModel required email #emailInput="ngModel">
          </span>
          
          <div class="input-errors" *ngIf="emailInput.touched && emailInput.errors?.required"> Полето за email неможе да е празно!</div>
          <div class="input-errors" *ngIf="emailInput.touched && emailInput.errors?.email"> Въведения email е грешен!</div>
        </div>
        
        <div>
          <span>
          <label class="password-label" for="password"><b>Password</b></label>
          <input size="30" class="input-password" type="password" placeholder="enter password here" name="password" id="password" minlength="6" ngModel required #passwordInput="ngModel">
          </span>
          <div class="input-errors" *ngIf="passwordInput.touched && passwordInput.errors?.required"> Полето за парола неможе да е празно!</div>
          <div class="input-errors" *ngIf="passwordInput.touched && passwordInput.errors?.minlength"> Дължината на паролата е минимум 6 символа! </div>
        </div>
        
        <div>
          <span>
          <label class="repassword-label" for="repassword"><b>Repeat Password</b></label>
          <input size="30" class="input-repassword" type="password" placeholder="repeat password here" name="repassword" id="repassword"  minlength="6" ngModel required #repasswordInput="ngModel">
          </span>
          <div class="input-errors" *ngIf="repasswordInput.touched && repasswordInput.errors?.required"> Полето за потвърждаване на паролата неможе да е празно!</div>
          <div class="input-errors" *ngIf="repasswordInput.touched && repasswordInput.errors?.minlength"> Дължината на паролата е минимум 6 символа! </div>
          <div class="input-errors" *ngIf="repasswordInput.touched && repasswordInput.touched && passwordInput.value.localeCompare(repasswordInput.value) != 0">Двете пароли не съвпадат!</div>
        </div>
      </div>   
      
      
      <div class="button-div">
        <button [disabled] = "f.invalid" type="submit">Register</button>
      </div>
     
  </form>
  <hr>
</section>


  <!-- Това е много удобно за дебъгване. -->
  <!-- {{ f.value | json }} -->
 