

nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    background-color: #1EC778;
    background: -webkit-linear-gradient(to right, #1EC778 0%, #17A2B8 50%);
    background: -moz-linear-gradient(to right, #1EC778 0%, #17A2B8 50%);
    background: linear-gradient(to right, #1EC778 0%, #17A2B8 50%);
    
   
    border-radius: 4px;
    color: white;
    font-size: 1.4em;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid black;

    position: fixed;
    top: 0;
    
}

.title {
    font-size: 1.4em;
    padding-top: 20px;
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
  
}

li {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20 10 20 10;
    border-bottom: 6px solid #17A2B8; 
}

li:hover {
    border-bottom: 6px solid white;
}

.welcome {
    margin-right: 40px;
}
.change-pointer {
    cursor: pointer;
}

.symbol-holder {
    position: relative;
}

.symbol-holder {
    position: absolute;
    margin-left: 320px;
    margin-top: 15px;
}