<nav>
    <span class="title">Administration Console</span>
    
    <div>
        <ul>
            <span class="welcome">
                <a>Welcome {{ loggedUserEmail }} </a>
            </span>
            <li>
                <i class="far fa-plus-square"></i>
                <a class="change-pointer" (click)="goToAddElement()">Add</a>
            </li>
            <li>
                <i class="fas fa-search-plus"></i>
                <a class="change-pointer" (click)="goToFindElement()">Find</a>
            </li>
            <li>
                <i class="fas fa-users"></i>
                <a class="change-pointer" (click)="goToManageUsers()">Users</a>
            </li>
            <li>
                <i class="fas fa-signal"></i>
                <a class="change-pointer" (click)="goToStatistics()">Statistics</a>
            </li>
            <li>
                <a class="change-pointer" (click)="goBack()">Back</a>
            </li>
            <!--
            <li>
                <a class="change-pointer" (click)="logout()">Logout</a>
            </li>
            -->
            
        </ul>
    </div>

</nav>

